.header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 30px;
  padding: 0;
  display:grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  background: white;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
  border:5px solid pink;
}
#top{
  border:3px solid red;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 80px;
}
body{
  padding-top: 70px;
}
a{
  border:1px solid red;
  text-color:black;
  text-decoration:none;
}

p {
  border-width:1px;
  border-color:red;
  border-style:solid;
  color:gray;
}
li{
  border-width:1px;
  border-color:red;
  border-style:solid;
  border-right:1px solid gray;
  width:100px;
}
h3{
  border-bottom:1px solid gray;
  text-align:right;
}
#middle{
  border:5px solid blue;
  display:grid;
  grid-template-columns: 150px 1fr;
}

#right{
  text-align:right;
}
